AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_PROFILE=
AWS_SESSION_TOKEN=
AWS_ROLE_ARN=
AWS_REGION=us-east-1
AWS_FUNCTION_NAME=
AWS_HANDLER=index.handler
AWS_MEMORY_SIZE=768
AWS_TIMEOUT=30
AWS_DESCRIPTION=
AWS_RUNTIME=nodejs4.3
EXCLUDE_GLOBS=".env event.json .idea tests"
PACKAGE_DIRECTORY=build

MATCH_ISSUER=true
REQUIRED_ISSUER=isso.nypl.org
APIDOCS_URL=https://platformdocs.nypl.org/api/v0.1.json
NODE_ENV=local
DEBUG_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJpc3NvLm55cGwub3JnIiwic3ViIjpudWxsLCJhdWQiOiJhcHBfYXBpIiwiaWF0IjoxNTE0OTA3OTQwLCJleHAiOjE1MTQ5MTE1NDAsImF1dGhfdGltZSI6MTUxNDkwNzk0MCwic2NvcGUiOiJvcGVuaWQgd3JpdGU6YmliIn0.dmOtPbdB9b-5nd2zizxyW-tUAOS9fPraP6lHzMZpDIW_YqUnMBl4cF9vzor97YRcitwrvgCUIlC6btHEt8be5Zwn0Ub21S9TYxGus0niaIsixUO-P3ohWn1BMo6nHlwIBpfDeXdFVdZKBDiwcMAtNvZY4-ZtAQF16PIUeAGFJXup1mjYojPgGrn3YE-TqH9xCEAMIx-9DkHDBfxXqS1n95JPLpDH0UYinkbLc0n0uBRJNQ1kgbGaA2R__ATFl68iaDe1AGbLSvWBwUDMuyNv46u9N1RtuHapaEEeRhkQNXcnAA6NUy12taP4JB39_NuUGVAPLLOEFp2LlAXZ-H58pw
